body {
  background: linear-gradient(0deg,#ffbdfb, #dbedff, #e8ffee); ;
  text-align: center;
  align-content: center;
  text-align: center;
  margin-right: 300px;
  margin-left: 300px;
}
#head-text {
    color: #003026;
}

#main-menu-text {
  color: #003026;
}
