body {
  text-align: center;
  align-content: center;
  background-color: ;
}

#welcome {
  background: linear-gradient(0deg,#ffbdfb, #dbedff, #e8ffee); ;
  text-align: center;
  align-content: center;
  border: black groove 10px;
  height: 450px;
  width: 680px;
  margin: auto;
}
#head-text {
  color: #62548b;
}

#main-menu-text {
  color: #62548b;
}
